state-machines/stateMachine.json
{
  "Comment": "A description of my state machine. Fields prefixed as 'illustrative' are just examples, not used by the Lambda",
  "StartAt": "Generate List",
  "States": {
    "Generate List": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:819215969217:function:randomListGenerator:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Parallel Process"
    },
    "Parallel Process": {
      "Type": "Map",
      "InputPath": "$.body",
      "ItemsPath": "$.randomList",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "SquareNumbers",
        "States": {
          "SquareNumbers": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload.body.square",
            "Parameters": {
              "FunctionName": "arn:aws:lambda:us-east-1:819215969217:function:NumberSquarer:$LATEST",
              "Payload": {
                "number.$": "$"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "Next": "Summation"
    },
    "Summation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {          
          "illustrative_static_input": 100,
          "illustrative_static_nested_input": {
            "nested_field": "200"
          },
          "illustrative_wrapper":{
            "invocation.$": "$$"
          } ,
          "squares.$": "$"          
        },
        "FunctionName": "arn:aws:lambda:us-east-1:819215969217:function:ListSummation:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
